a {
    color: #11999E;
}

h1 {
    margin: 40px auto 10px auto;
    position: relative;
    top: 10px;
    font-family: 'Kaushan Script', cursive;
    font-size: 562.5%;
    color: #00204a
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    margin: 0;
    padding-top: 12px;
    color: #00204a
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #005792;
}

hr {
    margin: 16px auto;
    border-style: dotted none none none;
    border-width: 10px;
    background-color: #d9faff;
    width: 6%;
    border-color: #00bbf0;
}

body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    background-color: #d9faff;
}

div {
    margin: 0;
}

p {
    margin-bottom: 0;
    padding-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
}

.BUTTON_ZRP {
    background: #3D94F6;
    background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: linear-gradient(to bottom, #3D94F6, #1E62D0);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #d9faff;
    font-family: serif;
    font-size: 20px;
    font-weight: 100;
    padding: 15px;
    box-shadow: 1px 1px 20px 0px #000000;
    -webkit-box-shadow: 1px 1px 20px 0px #000000;
    -moz-box-shadow: 1px 1px 20px 0px #000000;
    text-shadow: 1px 1px 20px #000000;
    border: solid #337FED 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    margin: 15px auto;
}

.BUTTON_ZRP:hover {
    border: solid #337FED 1px;
    background: #1E62D0;
    background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: linear-gradient(to bottom, #1E62D0, #3D94F6);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
}

.contact-me {
    margin: 20px 10% 20px 10%;
}

.top-container {
    background-color: #00bbf0;
    position: relative;
    padding-top: 100px;
}

.profile {
    background-color: #d9faff;
    padding: 0 20%;
    margin: 80px auto 50px auto;
}

.non-technical-skills-text {
    margin-top: 100px;
}

.technical-skills-text {
    margin-bottom: 100px;
}

.skill-images {
    position: relative;
    bottom: 16px;
    height: 25%;
    width: 25%;
    border-radius: 100%;
}

.skills-text {
    line-height: 1.5;
}

.skills {
    text-align: left;
    background-color: #d9faff;
    padding-bottom: 20px;
    padding-top: 20px;
}

.skills-heading {
    text-align: center;
}

.skill-row {
    width: 50%;
    margin: 50px auto;
}

.skills-words {
    position: relative;
    top: 16px;
}

.bottom-container {
    background-color:  #005792;
    color: #11999E;
}

.title-subtitle {
    font-weight: normal;
}

.top-cloud {
    position: absolute;
    right: 20%;
    top: 12%;
}

.bottom-cloud {
    position: absolute;
    left: 18%;
    top: 30%;
}

#mountain-image {
    position: relative;
    bottom: -4px;
    width: 45%;
}

#profile-pic {
    border-radius: 100%;
    width:208px;
    height:220px;
}

#computer-image {
    float: left;
    margin-right: 30px;
}

#leader-image {
    float: right;
    margin-left: 30px;
}